* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    &__title {
        font-size: 30px;
        font-weight: 700;
    }
    &__subtitle {
        font-size: 23px;
        font-weight: 700;
        margin-top: 7px;
    }
}

.about {
    margin-top: 50px;
    &__wrapper {
        display: flex;
        justify-content: center; 
    }
    &__institute-block {
        height: 350px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-right: 100px;
    }
    &__img {
        width: 180px;
        height: 166px;
    }
    &__link {
        text-decoration: none;
        color: #000;
        font-size: 18px;
    }
    &__link:hover {
        color:rgb(255, 0, 0)
    }
    &__sap {
        width: 220px;
        height: 80px;
    }
    &__title {
        font-size: 23px;
        font-weight: 700;
    }
    &__list {
        margin-top: 30px;
        font-size: 17px;
    }
    &__list li {
        margin-top: 10px;
    }
}